<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosadi.haullur">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HAULLUR"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Akun.DetailAkunActivity"
            android:exported="false" />
        <activity
            android:name=".Akun.AkunActivity"
            android:exported="false" />
        <activity
            android:name=".Haul.ProgramHaulActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Keluarga.DataKeluargaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Keluarga.DataKeluargaActivity"
            android:exported="false" />
        <activity
            android:name=".Laporan.LaporanRincianActivity"
            android:exported="false" />
        <activity
            android:name=".Laporan.LaporanDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Laporan.LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Penarikan.PenarikanActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>