<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosadi.haullur" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HAULLUR"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".Kelas.Artikel.ListAlmarhumActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Artikel.EditArtikelBiasaActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Artikel.EditArtikelLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Artikel.TambahArtikelLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Artikel.TambahArtikelBiasaActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Artikel.ArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.Artikel.DetailArtikelActivity"
            android:exported="false" />
        <activity
            android:name=".Akun.BuatPasswordBaruActivity"
            android:exported="false" />
        <activity
            android:name=".Akun.Daftar.BuatPasswordActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Akun.Daftar.VerifikasiActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Akun.Daftar.RegisterActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Kelas.Baca.BacaActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Akun.DetailAkunActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Akun.AkunActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.DrawerMenu.Haul.ProgramHaulActivity"
            android:exported="false" />
        <activity
            android:name=".Akun.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kelas.Almarhum.DataKeluargaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.Almarhum.DataKeluargaActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.Laporan.LaporanRincianActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.Laporan.LaporanDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.Laporan.LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".Kelas.Penarikan.PenarikanActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>